table {
    text-align: center;
    border: 1px solid #ccc;
    width: 100%;
    border-collapse: collapse;
}

table tr {
    border: 1px solid #ddd;
    padding: 1px;
}

table th, table td {
    padding: 2px;
    text-align: center;
    border-right: 1px solid #ddd;
}

@media screen and (max-width: 500px)
{
    table td {
        display: block;
        text-align: right;
        border-bottom: 1px dotted #ccc;
    }
}